.cart{
    position: absolute;
    width: 500px;
    min-height: 250px;
    background-color: var(--color-grey-light);
    top: 50px;
    right: -120px;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 10px;
    display: flex;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;

}

.empty{
    & img{
        width: 100%;
        object-fit: cover;
    }
}