.root{
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    margin-left: -10px;
    padding-left: 12px;
    transition: all .2s ease 0s;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-grey-active);
    opacity: 0.5;
}

.active{
    background: var(--color-grey-active);
    color: var(--color-white);
    opacity: 1;
}