.root{
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    margin-left: -10px;
    opacity: .5;
    padding-left: 12px;
    transition: all .2s ease 0s;
    display: flex;
    align-items: center;
}

.active{
    background: #dfdcdc;
}