.container{
    max-width: var(--container);
    margin: 0 auto;
    .imageContainer{
        width: 100%;
        height: 450px;
    }
    .content{
        display: flex;
    }
    .left{
        width: 60%;
        padding: 20px;
        h1{
            margin-bottom: 35px;
        }
    }
    .right{
        width: 40%;
        padding: 20px;
    }
}

.img{
    width: 100%;
    height: 450px;
}