.container{
    max-width: 1320px;
    margin: 0 auto;
    & h1{
        text-align: center;
        margin-bottom: 35px;
    }
}
.content{
    display: flex;
}

.info{
    width: 70%;
    margin-right: 30px;
    border: 1px solid rgb(80,80,80);
    border-radius: 10px;
    padding: 20px;
}

.check{
    padding: 10px;
    width: 30%;
    min-height: 400px;
    border: 1px solid rgb(80,80,80);
    border-radius: 10px;
    position: sticky;
}
.list{
    margin-bottom: 35px;
}

.user_info{
    & div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    
}