.form{
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--color-grey-light);
    border-radius: var(--border-radius);
    .title{
        font-size: 26px;
        text-align: center;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
}

