.item{
    font-size: var(--font-size-small);
    display: flex;
    background-color: var(--color-grey-light);
    border-radius: var(--border-radius);
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title{
    width: 50%;
}