.item{
    font-size: 12px;
    display: flex;
    border: 1px solid #2b2b2b;
    background-color: #2b2b2b;
    border-radius: 7px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.title{
    width: 50%;
}