.basket{
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 45px;
    position: relative;
    cursor: pointer;
    position: relative;
    & span{
        background-color: rgb(243, 58, 58);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        position: absolute;
        left: 20px;
        top: 0;
        white-space: nowrap;
    }
}