.root{
    width: 60%;
    display: flex;
    align-items: center;
    & input{
        height: 100%;
        background-image: url('../../../assets/img/search.svg');
        background-position: 24px;
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 12px 64px;
        border-radius: 0.5rem;
        background-color: var(--color-grey-light);
        border: 1px solid hsla(0,0%,56%,0);
        width: 100%;
        color: var(--color-white);
        font-size: var(--font-size-main);
        font-weight: 400;
        line-height: 22px;
        transition: all .2s ease 0s;
        outline: none;
        margin: 0;
    }
        
}
