.button{
    padding: 10px 20px;
    background-color: var(--color-button);
    border-radius: var(--border-radius);
    border: none;
    font-size: var(--font-size-small);
    color: var(--color-white);
    &:hover{
        background-color: var(--color-button-active);
        ;
    }
}