.button{
    padding: 10px 20px;
    background-color: rgb(172, 78, 240);
    border-radius: 10px;
    border: none;
    font-size: 12px;
    color: #fff;
    &:hover{
        background-color: rgb(185, 102, 244);
        ;
    }
}