.profileMenu{
    width: 100%;
    height: 100%;
    position: relative;
    .userName{
        cursor: pointer;
        img{
            border-radius: 50%;
            width: 35px;
        }
    }
}

.menu{
    position: absolute;
    top: 40px;
    right: -50px;
    width: 200px;
    min-height: 200px;
    background-color: var(--color-grey-dark);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-grey-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    .list{
        width: 100%;
        li{
            list-style: none;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 14px;
            a:hover{
                color: var(--violet-color-hover);
            }
        }
    }
}

.active{
    display: flex;
}