.container{
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(23,23,23);
    z-index: 100;
    .logo{
        font-size: 36px;
        font-weight: 700;
        color: rgb(172, 78, 240);
    }
    .right{
        display: flex;
        align-items: center;
    }
}


