input{
    padding: 10px 20px;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    border: 1px solid hsla(0,0%,56%,0);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    transition: all .2s ease 0s;
    outline: none;  
    margin-bottom: 20px;
}