.card{
    background-color: var(--color-grey-light);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px var(--color-grey-light);
    overflow: hidden;
    height: 295px;
    position: relative;
    .content{
        width: 100%;
        height: 100%;
        transition: all 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .image{
        height: 170px;
        width: 100%;
    }
    .info{
        padding: 15px;
    }
    .title{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .genre{
        font-size: 12px;
        margin-right: 10px;
        color: var(--color-grey-active);
        opacity: 0.5;
    }
    .description{
        margin-top: 15px;
        font-size: 12px;
    }
    .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-grey-light);
        button{
            width: 100%;
        }
    }
    &:hover{
        border: 1px solid var(--color-grey-active);
        .content{
            transform: translateY(-170px);
        }
        .description{
            max-height: 150px;
            overflow: scroll;
        }
    }
}

