:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --container: 1320px;

	--color-white: #fff;
	--color-black: #000;
  --color-grey-light: #2b2b2b;
  --color-grey-dark: rgb(23,23,23);
  --color-grey-active: #b6b5b5;
  --color-button-active: #686868;
  --color-button: #4f4f4f;
	--violet-color: rgb(172, 78, 240);
  --violet-color-hover: rgb(185, 102, 244);

	--font-size-small: 12px;
	--font-size-main: 16px;

	--font-bold: 600;
	--transition: .4s;

	--border-radius: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  padding: 0px 20px;
}

a{
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}