.image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}